<?xml version="1.0"?>
<!--
  ~ Copyright © 2019 Studio Raz. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <unicell>
            <general>
                <endpoint_url>http://api.soprano.co.il/</endpoint_url>
                <account_id>studioraz1</account_id>
                <account_password>studioraz123</account_password>
                <from_cellphone>123456789</from_cellphone>
            </general>
        </unicell>
    </default>
</config>
